<div class="container mt-3">
    <div class="row">
        <div class="col text-center">
            <img src="./img/nero.jpg" alt="riogesta" class="thumbnail rounded-circle" width="200px">
            <h1 class="display-4">Rio Gestavito</h1>
            <p class="lead">student | development</p>
        </div>
    </div>
</div>